@model BoardDetailViewModel

@{



    ViewData["BgColor"] = Model.Board.BoardInfo.BgColor;



    var cardGroups = Model.Board.CardGroups;
}
<div class="container-fluid" style="background-color: @Model.Board.BoardInfo.BgColor;height: 70%;">

    <div class="row flex-nowrap overflow-auto" style="height: 100%">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <form asp-controller="Board" asp-action="AddNewCardGroup"
                        asp-route-id="@Model.Board.BoardInfo.BoardId" method="post">
                        <div asp-validation-summary="All"></div>
                        <input asp-for="CreateCardGroupModel.CardGroupName" placeholder="Add new card group..."
                            class="form-control">
                        <button type="submit" class="visually-hidden">Add</button>
                    </form>

                </div>
            </div>
        </div>
        @foreach (var cardGroup in cardGroups)
        {
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title pb-1" style="border-bottom: 3px solid @Model.Board.BoardInfo.BgColor;">@cardGroup.Name</h5>
                        <ul class="list-group" style="min-height: 50px;" data-card-group-id="@cardGroup.CardGroupId">
                            @foreach (var card in cardGroup.Cards)
                            {
                                <li class="list-group-item rounded m-1 shadow-sm d-flex justify-content-between" data-boardId="@Model.Board.BoardInfo.BoardId"
                            data-card-group-id="@cardGroup.CardGroupId" data-cardid="@card.CardId"
                            style="background-color: @card.CardColor;border: none;">
                                    <div class="d-flex align-items-center justify-content-center">
                                        @card.Content - @card.Position
                                    </div>
                                    <div>
                                        <form action="/Board/@Model.Board.BoardInfo.BoardId/CardGroup/@cardGroup.CardGroupId/RemoveCard?cardId=@card.CardId" method="post"><button class="btn btn-danger" type="submit">X</button></form>
                                    </div>
                                </li>
                            }
                        </ul>
                        <form asp-controller="Board" asp-action="AddCard" method="post"
                        asp-route-boardId="@Model.Board.BoardInfo.BoardId"
                        asp-route-cardGroupId="@cardGroup.CardGroupId">
                            <div class="row m-2 p-1 border-top">
                                <div class="col-8">
                                    <input asp-for="CreateNewCardModel.Content" class="form-control">
                                </div>
                                <div class="col-4">
                                    <input asp-for="CreateNewCardModel.BgColor" type="color" value="#ffffff"
                                    class="form-control form-control-color">
                                </div>
                                <button type="submit" class="visually-hidden"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">@foreach (var activity in Model.Board.Activities)
    {
        <div>@activity.Message</div>
    }</div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
