@model BoardDetailViewModel

@{



    ViewData["BgColor"] = Model.Board.BoardInfo.BgColor;



    var cardGroups = Model.Board.CardGroups;
}
<div class="container-fluid" style="background-color: @Model.Board.BoardInfo.BgColor; min-height: 480px">

    <div class="row flex-nowrap overflow-auto" style="min-height: 500px">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h4>@Model.Board.BoardInfo.Name</h4>
                    <form asp-controller="Board" asp-action="AddNewCardGroup"
                        asp-route-id="@Model.Board.BoardInfo.BoardId" method="post">
                        <div asp-validation-summary="All"></div>
                        <input asp-for="CreateCardGroupModel.CardGroupName" placeholder="Add new card group..."
                            class="form-control">
                        <button type="submit" class="visually-hidden">Add</button>
                    </form>

                </div>
            </div>
        </div>
        @foreach (var cardGroup in cardGroups)
        {
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title pb-1" style="border-bottom: 3px solid @Model.Board.BoardInfo.BgColor;">@cardGroup.Name</h5>
                        <ul class="list-group" style="min-height: 50px;" data-card-group-id="@cardGroup.CardGroupId">
                            @foreach (var card in cardGroup.Cards)
                            {
                                <li class="list-group-item rounded m-1 shadow-sm d-flex justify-content-between" data-boardId="@Model.Board.BoardInfo.BoardId"
                            data-card-group-id="@cardGroup.CardGroupId" data-cardid="@card.CardId"
                            style="background-color: @card.CardColor;border: none;">
                                    <div class="d-flex align-items-center justify-content-center">
                                        @card.Content
                                    </div>
                                    <div>
                                        <form action="/Board/@Model.Board.BoardInfo.BoardId/CardGroup/@cardGroup.CardGroupId/RemoveCard?cardId=@card.CardId" method="post"><button class="btn btn-danger" type="submit">X</button></form>
                                    </div>
                                </li>
                            }
                        </ul>
                        <form asp-controller="Board" asp-action="AddCard" method="post"
                        asp-route-boardId="@Model.Board.BoardInfo.BoardId"
                        asp-route-cardGroupId="@cardGroup.CardGroupId">
                            <div class="row m-2 p-1 border-top">
                                <div class="col-8">
                                    <input asp-for="CreateNewCardModel.Content" class="form-control">
                                </div>
                                <div class="col-4">
                                    <input asp-for="CreateNewCardModel.BgColor" type="color" value="#ffffff"
                                    class="form-control form-control-color">
                                </div>
                                <button type="submit" class="visually-hidden"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row" style="">
        <div class="col-3">
            <form action="~/Board/@Model.Board.BoardInfo.BoardId/InviteUser" method="post">
                <input asp-for="InviteUserModel.Username">
                <button type="submit">Invite</button>
            </form>
        </div>
        <div class="col-9 d-inline-flex flex-nowrap overflow-scroll" style="font-size: small; text-align: center;">

                @foreach (var activity in Model.Board.Activities)
                {
                    <div class="col-3 d-flex flex-column justify-content-center align-items-center border rounded-sm m-1 p-1 bg-white" style="min-width: 240px; width: 240px;">
                        <div class="text-italic">“@activity.Message”</div>
                        <div><strong>@activity.DoneByUser</strong><div>@activity.OccuredOn</div></div>
                        
                    </div>
                }
        </div>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
